USE [ElectricityMeter]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 24.07.2022 16:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 24.07.2022 16:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 24.07.2022 16:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[DistrictName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeterDetails]    Script Date: 24.07.2022 16:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MeterId] [int] NOT NULL,
	[Active] [float] NOT NULL,
	[Inductive] [float] NOT NULL,
	[Capacitive] [float] NOT NULL,
	[ReadDate] [date] NOT NULL,
 CONSTRAINT [PK_MeterDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meters]    Script Date: 24.07.2022 16:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[MeterNo] [varchar](20) NOT NULL,
	[SubscriberNo] [varchar](20) NOT NULL,
	[Multipy] [int] NOT NULL,
	[MeterPower] [int] NOT NULL,
 CONSTRAINT [PK_Meters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (1, N'ADANA')
INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Id], [CompanyName], [DistrictId], [Address], [Phone], [Status]) VALUES (1, N'Arksoft Bilisim Teknolojisi A.S.', 74, N'Üniversiteler Mahallesi, Hacettepe Teknokent Safir Bloklari E Blok Kat: 9 No:, Çankaya Cd. No:51', N'0 312 502 21 21', 0)
INSERT [dbo].[Companies] ([Id], [CompanyName], [DistrictId], [Address], [Phone], [Status]) VALUES (6002, N'Sahin Firmasi', 25, N'deneme adresi', N'13243434678', 1)
INSERT [dbo].[Companies] ([Id], [CompanyName], [DistrictId], [Address], [Phone], [Status]) VALUES (8002, N'Asenta A.S.', 93, N'asent sok no:1', N'12121232315', 1)
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([Id], [CityId], [DistrictName]) VALUES (1, 1, N'MERKEZ')
INSERT [dbo].[Districts] ([Id], [CityId], [DistrictName]) VALUES (2, 1, N'ALADAG')
INSERT [dbo].[Districts] ([Id], [CityId], [DistrictName]) VALUES (3, 1, N'CEYHAN')
GO
SET IDENTITY_INSERT [dbo].[Districts] OFF
GO
SET IDENTITY_INSERT [dbo].[MeterDetails] ON 

INSERT [dbo].[MeterDetails] ([Id], [MeterId], [Active], [Inductive], [Capacitive], [ReadDate]) VALUES (10002, 1, 255.456, 33.455, 110.345, CAST(N'2022-05-27' AS Date))
INSERT [dbo].[MeterDetails] ([Id], [MeterId], [Active], [Inductive], [Capacitive], [ReadDate]) VALUES (10003, 1, 256.454, 33.895, 110.956, CAST(N'2022-06-01' AS Date))
INSERT [dbo].[MeterDetails] ([Id], [MeterId], [Active], [Inductive], [Capacitive], [ReadDate]) VALUES (10004, 1, 34.234, 34.123, 111.234, CAST(N'2022-06-07' AS Date))
SET IDENTITY_INSERT [dbo].[MeterDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Meters] ON 

INSERT [dbo].[Meters] ([Id], [CompanyId], [MeterNo], [SubscriberNo], [Multipy], [MeterPower]) VALUES (1, 1, N'03645671', N'E047', 2070, 1600)
INSERT [dbo].[Meters] ([Id], [CompanyId], [MeterNo], [SubscriberNo], [Multipy], [MeterPower]) VALUES (1002, 6002, N'545345', N'ADS456', 2324, 1200)
INSERT [dbo].[Meters] ([Id], [CompanyId], [MeterNo], [SubscriberNo], [Multipy], [MeterPower]) VALUES (2002, 8002, N'463463', N'3434DF', 2880, 1800)
SET IDENTITY_INSERT [dbo].[Meters] OFF
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Districts] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Districts]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Cities]
GO
ALTER TABLE [dbo].[MeterDetails]  WITH CHECK ADD  CONSTRAINT [FK_MeterDetails_Meters] FOREIGN KEY([MeterId])
REFERENCES [dbo].[Meters] ([Id])
GO
ALTER TABLE [dbo].[MeterDetails] CHECK CONSTRAINT [FK_MeterDetails_Meters]
GO
ALTER TABLE [dbo].[Meters]  WITH CHECK ADD  CONSTRAINT [FK_Meters_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[Meters] CHECK CONSTRAINT [FK_Meters_Companies]
GO
